:root {
    --black-color: #303030;
    --white-color: #ffffff;
    --offwhite-color: #f1f1f1;
    --primary-color: #EC7160;
    --light-grey-color: #F6F6F6;
    --semilight-grey-color: #E7E7E9;
    --grey-color: #898989;
}